@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)

  <fieldset class="moderate">
    <legend>Create</legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.RecipeName)
      @Html.TextBoxFor(model => model.RecipeName)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Ingredients)
      @Html.TextBoxFor(model => model.Ingredients)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Instruction)
      @Html.TextBoxFor(model => model.Instruction)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Rate)
      @Html.ValidationMessageFor(model => model.Rate)
      @Html.TextBoxFor(model => model.Rate)
    </div>
    <input type="submit" value="Add new item" class="btn btn-default" />
  </fieldset>
}

<p>@Html.ActionLink("Show all recipes", "Index")</p>
<p>@Html.ActionLink("Add category", "AddCategory", "Recipes")</p>